# General libraries
numpy
pandas
matplotlib
plotly
altair

# Streamlit-related libraries
streamlit
streamlit-searchbox
streamlit-option-menu
streamlit-carousel

# Libraries for specific features or data processing in my apps
openpyxl
python-pptx
lifelines
