# General libraries
numpy
pandas
matplotlib
plotly
altair

# Streamlit-related libraries
streamlit
streamlit-searchbox
streamlit-option-menu

# Libraries for specific features or data processing in my apps
requests
openpyxl
python-pptx
lifelines
