---
---

@import "{{ site.theme }}";

// Main header bar
header {
  background-color: #344649; // Dark Slate Gray
  h1, p {
    color: #ffffff; // White color for the text for better readability
  }
}

// Bar for GitHub and Downloads buttons
#banner {
  background-color: #ffbc99; // Soft Orange
  .button {
    color: #344649; // Dark Slate Gray for the button text
    &:hover {
      background-color: darken(#ffbc99, 10%); // Darken the button on hover for effect
    }
  }
}

// Navigation area
nav {
  background-color: #7d8e95; // Slate Gray
  ul {
    li {
      a {
        color: #ffffff; // White color for links for better readability
      }
    }
  }
}

// Content area
section {
  background-color: #fce1c3; // Light Peach
  color: #344649; // Dark Slate Gray for the text for better readability
}

// Other potential overrides can go here
